<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">
<th:block layout:fragment="css"> </th:block>
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">

    <div class="bd-examples-snippet bd-code-snippet">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <p class="h1">{검색어}</p>
                </div>
                <div class="p-2">
                    <a href="/product/edit" type="button" class="btn btn-success">작품 추가</a>
                    <a href="/image/edit" type="button" class="btn btn-info">이미지 추가</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 인기 이미지 목록 -->
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/img/bocchi1.gif" alt="bocchi1" class="card-img-top">
                        
                        <div class="card-body">
                            <p class="card-text">발작하는 봇치</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/img/bocchi2.gif" alt="bocchi1" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">상자속으로 숨는 봇치</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/img/bocchi3.gif" alt="bocchi1" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">플랑크톤 고토</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/img/bocchi4.gif" alt="bocchi1" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">무무무무무무무무리</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/img/bocchi5.gif" alt="bocchi1" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">파치파치파치파치</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/img/bocchi6.gif" alt="bocchi1" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">고릴라 봇치</p>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="pt-5 d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</html>