<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">
<th:block layout:fragment="css"> </th:block>
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">

    <div class="bd-examples-snippet bd-code-snippet">
        <div class="container">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <p class="h1">짤방 등록</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 인기 이미지 목록 -->
    <div class="album py-5 bg-light">
        <div class="container">
            <form class="needs-validation" method="post" action="/image/add" enctype="multipart/form-data">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="imageFile" class="form-label">이미지 업로드</label>
                        <input type="file" class="form-control" id="imageFile" name="imageFile">
                    </div>

                    <div class="col-12">
                        <label for="productImgTitle" class="form-label">짤방 소개</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="productImgTitle" name="productImgTitle" placeholder="짤방을 소개하세요" required="">
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="product" class="form-label">작품 </label>
                        <select class="form-select" id="product" name="productId" required="">
                            <option th:each="product : ${productList}" th:value="${product.productId}" th:text="${product.productTitle}" ></option>
                        </select>
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">짤방 생성</button>
            </form>
        </div>
    </div>
</div>
</html>