<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">
<th:block layout:fragment="css"> </th:block>
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="text-center">
                <img th:src="'/files/' + ${image.productImgUrl}" class="rounded" th:alt="${image.productImgTitle}">

                <hr class="py-2">

                <p class="h3" th:text="${image.productImgTitle}"></p>
            </div>
        </div>
    </div>
</div>
</html>