<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header class="p-3 text-bg-dark" th:fragment="headerFragment">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <a href="/" class="btn btn-outline-light  me-lg-3">
          <i class="bi bi-house"></i>
        </a>

        <form class="col-lg-5 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="get" action="/search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <a href="/user/login" class="btn btn-outline-light me-2">로그인</a>
          <a href="/user/regist" class="btn btn-warning">회원가입</a>
        </div>
      </div>
    </div>
  </header>
</html>