<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{layout/layout}">
<th:block layout:fragment="css"> </th:block>
<th:block layout:fragment="script"> </th:block>

<div layout:fragment="content">

    <div class="bd-examples-snippet bd-code-snippet">
        <div class="container">
            <div class="d-flex flex-row">
                <div class="p-2">
                    <p class="h1">로그인</p>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <form>
                <div class="form-floating">
                    <input type="email" class="form-control" id="userId" placeholder="아이디를 입력해주세요">
                    <label for="userId">User Id</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요">
                    <label for="password">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
            </form>
    </div>
</div>
</html>